<h1>Listes des Users</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Compte</th>
            <th>Nom Complet</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Adresse</th>
            <th>Status</th>
            <th>Image Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listuser">
            <td>{{user.idcompte}}</td>
            <td>{{user.nomcomplet}}</td>
            <td>{{user.mail}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.adresse}}</td>
            <td>{{user.status}}</td>
            <td>{{user.imageName}}</td>
        </tr>
    </tbody>
</table>