<div class="py-5">
    <div class="row ">
        <div class=" col-md-6 mx-auto ">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">Username</label>
                                <input [(ngModel)]="registerUserData.username" type="text" class="form-control" id="" placeholder="Username" name="username">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Password</label>
                                <input [(ngModel)]="registerUserData.password" type="password" class="form-control" id="" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">Roles</label>
                                <select [(ngModel)]="registerUserData.roles " name="roles" id="">
                                            <option value="USER">ROLE_USER</option>
                                            <option value="ADMIN">ROLE_ADMIN</option>
                                    </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Nom Complet</label>
                                <input [(ngModel)]="registerUserData.nomcomplet" type="text" class="form-control" id="" placeholder="Nom Complet" name="nomcomplet">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">Email</label>
                                <input [(ngModel)]="registerUserData.mail" type="email" class="form-control" id="" placeholder="Email" name="mail">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Tel</label>
                                <input [(ngModel)]="registerUserData.tel" type="number" class="form-control" id="" placeholder="Tel" name="tel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Adresse</label>
                            <input [(ngModel)]="registerUserData.adresse" type="text" class="form-control" id="" placeholder="Adresse" name="adresse">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">Status</label>
                                <select [(ngModel)]="registerUserData.status" name="status" id="">
                                        <option value="debloquer">Debloquer</option>
                                        <option value="bloquer">Bloquer</option>
                                    </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">ImageName </label>
                                <img [src]="imageUrl" alt="" style="width: 250px;height:50px">
                                <input [(ngModel)]="registerUserData.imageName" type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)" name="imageName " class="form-control rounded-0">
                            </div>
                        </div>
                        <button (click)="registerUser()" type="button" class="btn btn-success" float-right>ajouter</button>
                    </form>
                </div>
                <!--/card-block-->
            </div>
            <!-- /form card login -->

        </div>
    </div>
</div>